

.fm-filesList, .fm-filesList * {
    display: block;
}

.fm-filesList tr {
    padding: 12px 0;
    display: grid;
    grid-template-columns: 70px 250px 1fr 75px 50px;
    align-items: center;
    transition: opacity .5s;
}

.fm-filesList tr:hover {
    background-color: var(--fm-backgroundDarken);
}

.fm-filesList tr.fm-isLoading {
    opacity: .3;
    animation: fmFadeRow infinite linear 2s .5s;
    pointer-events: none;
}

@keyframes fmFadeRow {
    0% {opacity: .3}
    50% {opacity: .1}
    100% {opacity: .3}
}

.fm-filesList td:nth-child(3) {
    margin-left: 24px;
}

.fm-filesList button {
    border: none;
    display: block;
    background: none;
    color: var(--fm-iconColor);
    cursor: pointer;
    padding: 10px;
    margin: 0;
    transition: color .3s;
}

.fm-filesList button:hover {
    color: var(--fm-color);
}

.fm-filesList img {
    display: block;
    filter: drop-shadow(0px 1px 4px rgba(16, 43, 107, 0.6));
    border-radius: 6px;
}
