.fm-filemanager {
    --fm-color: #212944;
    --fm-background: #FEFEFE;
    --fm-border: #F0F0F6;
    --fm-inputBorder: #D7DEE1;
    --fm-backgroundDarken: #F8FAFB;
    --fm-iconColor: #C6D0D6;
    --fm-shadow: 0px 1px 4px rgba(212, 212, 212, 0.2);
    --fm-contrast: #457CFF;
    --fm-contrastTransparent: #457CFF33;
}

@import "reset";

.fm-filemanager svg {
    display: block;
}

.fm-modalOverlay {
    background-color: var(--fm-backgroundDarken);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fm-modal {
    position: relative;
    display: grid;
    grid-template-columns: 278px 1fr;
    width: calc(100vw - 50px);
    max-width: 1200px;
    height: calc(90vh - 50px);
    max-height: 875px;
    color: var(--fm-color);
    background: var(--fm-background);
    border: 1px solid #EBECED;
    box-sizing: border-box;
    box-shadow: var(--fm-shadow);
    border-radius: 8px;
}

.fm-dropzone {
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s;
    color: #FFF;
}

.fm-dropzone > * {
    position: relative;
    z-index: 1;
}

.is-dragover .fm-dropzone {
    opacity: 1;
}

.fm-dropzone svg {
    width: 100px;
    height: 100px;
}

.is-dragover .fm-iconUploadArrow {
    animation: fm-iconUploadArrow 2s infinite;
}

@keyframes fm-iconUploadArrow {
    0% {
        transform: translateY(2px)
    }
    50% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(2px)
    }
}

.fm-dropzone::after,
.fm-dropzone::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fm-dropzone::before {
    background-color: var(--fm-contrast);
    opacity: .6;
}

.fm-dropzone::after {
    margin: 10px;
    border-radius: 4px;
    border: dashed 2px var(--fm-contrast);
}

.fm-modal > main {
    position: relative;
}

@import "./sidebar";
